<h2>{{post.title}}</h2>
<p>{{post.content}}</p>
<p>Tagged:
  {{#each post.tags}}
    {{#if @last}}
      <span class='tag'>{{this}}</span>.
    {{else}}
      <span class='tag'>{{this}}</span>,

    {{/if}}
  {{/each}}
</p>
<p>Created by: {{post.user.username}}</p>
<hr />
<br />
<h4>Comments:</h4>

<div class='add-comment'>
  <form action='/comments/add-comment/{{post._id}}' method='post'>
    <label for='comment'>Add comment:</label>
    <input type='text' name='comment' id='comment' />
    <button type='submit'>Add comment</button>
  </form>
</div>

{{#if post.comments}}
  {{#each post.comments}}
    <h5>{{this.user.username}}</h5>
    <p>{{this.content}}</p>
    <br />
  {{/each}}

{{else}}
  <p>No comments yet.</p>

{{/if}}