{{#if errorMessage}}
  <h3>{{errorMessage}}</h3>
{{/if}}

<h2>{{post.title}}</h2>
{{!-- <p>Tagged:
  {{#each post.tags}}
    {{#if @last}}
      <span class='tag'>{{this}}</span>.
    {{else}}
      <span class='tag'>{{this}}</span>,

    {{/if}}
  {{/each}}
</p> --}}
<p>{{post.content}}</p>
<div class='center'>
  <textarea name='code' id='codeView'>
    {{post.code}}
  </textarea>
</div>
<a href='/post/{{post._id}}/add-to-favorites'>Add to favorites!</a>
<p>Favorited {{post.favorites.length}} times.</p>
<p>Created by:
  <a
    href='/user/public-profile/{{post.user._id}}'
  >{{post.user.username}}</a></p>
<a href='/post/{{post._id}}/edit-post'>Edit post.</a>
<hr />
<br />
<h4>Comments:</h4>

<div class='add-comment'>
  <form action='/comments/add-comment/{{post._id}}' method='post'>
    <label for='comment'>Add comment:</label>
    <input type='text' name='comment' id='comment' />
    <button type='submit'>Add comment</button>
  </form>
</div>

{{#if post.comments}}
  {{#each post.comments}}
    <h5><a
        href='/user/public-profile/{{this.user._id}}'
      >{{this.user.username}}</a>:</h5>
    <p>{{this.content}}</p>
    <br />
  {{/each}}

{{else}}
  <p>No comments yet.</p>

{{/if}}

<script src='/javascripts/codeView.js'></script>