<h1>Welcome to {{title}}</h1>
<hr />
<h3>See latest posts:</h3>

<div class='container'>
  <div class='row'>

    {{#each allPosts}}
      <div class='col post-container'>
        <h4><a href='/post/{{this._id}}'>{{this.title}}</a></h4>
        <p>{{this.content}}</p>
        <p>Favorited: {{this.favorites.length}}</p>
      </div>
    {{/each}}
  </div>
</div>