{{#if foundUser}}
  <h2 class='display-4 my-5'>{{foundUser.username}}'s profile:</h2>
  <div class='user-info d-flex gap-5'>
    <p>Posts: {{foundUser.posts.length}}</p>
    <p>Favorites: {{foundUser.favorites.length}}</p>
  </div>

  <h3 class='mt-5'>{{foundUser.username}}'s posts:</h3>
  <div class='container'>
    <div class='row justify-content-between'>
      {{#each foundUser.posts}}
        <div class='col-sm-4 my-4'>
          <div class='card'>
            <h4 class='card-header text-center text-bg-primary'><a
                href='/post/{{this._id}}'
                class='text-white text-decoration-none'
              >{{this.title}}</a></h4>
            <p class='card-text p-3'>{{this.content}}</p>
            <p class='card-footer mb-0 small'>Favorited:
              {{this.favorites.length}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <h3>{{foundUser.username}}'s favorited posts:</h3>
  <div class='container'>
    <div class='row justify-content-between'>
      {{#each foundUser.favorites}}
        <div class='col-sm-4 my-4'>
          <div class='card'>
            <h4 class='card-header text-center text-bg-primary'><a
                href='/post/{{this._id}}'
                class='text-white text-decoration-none'
              >{{this.title}}</a></h4>
            <p class='card-text p-3'>{{this.content}}</p>
            <p class='card-footer mb-0 small'>Favorited:
              {{this.favorites.length}}</p>
            <p class='card-footer mb-0 small'>Created by:
              {{this.user.username}}</p>
          </div>

        </div>
      {{/each}}
    </div>
  </div>

{{else}}
  <p>Please log in to see profile</p>
{{/if}}